<div class="content">
  <div class="film">
    <div class="banner-film">
      <div class="info-banner-film" *ngIf="statusError">
        <div class="container pt-5">
          <div class="row">
            <div class="col-12 col-sm-6">
              <div class="info">
                <div class="btn-3d-max mb-4">
                  4D MAX
                </div>
                <p class="name-film text-white">{{phim.TenPhim}}</p>
                <p class="sub-film text-white">{{phim.MoTa}}
                </p>
              </div>
            </div>
            <div class="col-12 col-sm-6">
              <div class="text-center item-phim">
                <img [src]="phim.HinhAnh" alt="" class="img-phim">
                <div class="btn-play" data-toggle="modal" data-target="#modalTrailer" (click)="UrlTrailer(phim.Trailer,phim.TenPhim)">
                  <i class="fa fa-play-circle-o"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ngay-khoi-chieu" *ngIf="statusError">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <p class="text-center text-white">Khởi chiếu vào : {{phim.NgayKhoiChieu | date:'dd - MM - yyyy'}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="share">
        <p class="text-center m-0">
          <i class="iconSocial fa fa-facebook px-4"></i>
          <i class="iconSocial fa fa-skype px-4"></i>
          <i class="iconSocial fa fa-google-plus px-4"></i>
          <i class="iconSocial fa fa-instagram px-4"></i>
          <i class="iconSocial fa fa-steam px-4"></i>
        </p>
        <div class="datve-ngay text-center pt-4" *ngIf="statusLichChieu">
          <div class="btnDatVe" [routerLink]="['/datve',phim.MaPhim]">
            <p>ĐẶT VÉ NGAY</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="danhgia">
  <img src="./../../../assets/img/film.jpg" alt="">
  <div class="cont-danhgia">
    <div class="container">
      <app-danh-gia></app-danh-gia>
    </div>
  </div>
</div>
<div class="footer">
  <app-contact></app-contact>
</div>
<!-- Modal Trailer -->
<div id="modalTrailer" class="modal fade" id="modalTrailer" tabindex="-1" role="dialog" aria-labelledby="modalTrailerLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div data-dismiss="modal" class="btn-close-trailer" (click)="closeTrailer()">
          <i class="fa fa-times"></i>
        </div>
        <app-popup-trailer></app-popup-trailer>
      </div>
    </div>
  </div>
</div>
<!-- Modal Đăng Nhập -->
<div class="modal fade" id="popupLogin" tabindex="-1" role="dialog" aria-labelledby="popupLoginLabel" aria-hidden="true">
  <div class="modal-dialog popupLoginDialog" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <app-dang-nhap (trangthaiDN)="statusDN($event)"></app-dang-nhap>
      </div>
    </div>
  </div>
</div>
