<div class="thongbaoDangNhap d-flex justify-content-center align-items-center" *ngIf="statusKTDN; else datve">
  <div class="text-center">
    <p class="title animated tada">Xin mời đăng nhập trước khi đặt vé !^^!</p>
    <div class="btnBack" [routerLink]="['/']">
      <p>Trở về
        <br>
        TRANG CHỦ</p>
    </div>
  </div>
</div>
<ng-template #datve>
  <div class="datve-layout px-5" *ngIf="statusError">
    <div class="container-fluid">
      <div class="thanh-dieu-huong pt-5">
        <div class="row">
          <div class="col-12 col-sm-9">
            <div class="content">
              <div class="row">
                <div class="col-12">
                  <div class="pick-gio">
                    <app-pick-gio [LichChieu]="phim.LichChieu" (eventChonNgay)="chonNgayParent($event)"></app-pick-gio>
                  </div>
                  <div class="ds-ghe pt-5">
                    <p class="tbChonNgay text-center pt-5" *ngIf="!statusChonNgay; else datGhe">Vui lòng chọn ngày thời
                      gian đặt vé</p>
                    <ng-template #datGhe>
                      <app-list-ghe [listGhe]="listGhe" (eventDatVe)="datVeParent($event)"></app-list-ghe>
                    </ng-template>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-3">
            <div class="info-phim">
              <div class="info-thanhtoan pl-4 pt-3 animated fadeIn" *ngIf="statusThanhToan">
                <div class="content-thanhtoan">
                  <p class="title">Số lượng:</p>
                  <p *ngFor="let veDaDat of listVe" class="pl-4">
                    <span class="px-3">{{veDaDat.MaGhe}}</span>
                    <img src="./../../../assets/img/icon/cinema-chair.svg" alt="" width="20px" height="20px">
                    <span class="px-3">x1</span>
                    <span>{{veDaDat.GiaVe}} vnđ</span>
                  </p>
                </div>
                <div class="thanhtien-thanhtoan pt-3">
                  <p class="title">Thành tiền: <span class="tongtien">{{tongTien}} VNĐ</span></p>
                </div>
              </div>
              <div class="img-phim">
                <img [src]="phim.HinhAnh" alt="">
              </div>
              <div class="name-phim text-center pt-2">
                {{phim.TenPhim}}
              </div>
            </div>
            <div class="btn-thanhtoan text-center animated bounceIn pt-3" *ngIf="statusChonNgay">
              <div class="btnBack" (click)="xacNhanVe()">
                <p>
                  <i class="fa fa-shopping-bag"></i>
                  <br>
                  THANH TOÁN
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
