<div class="contact">
  <div class="back-contact">
    <div class="container">
      <div class="row pt-4">
        <div class="col-sm-3 col-12">
          <p class="name-cinema">Bug cinema</p>
          <p class="name-sub">Phim nhiều như bug vậy !!!</p>
          <div class="social">
            <p class="text-left">
              <i class="iconSocial fa fa-facebook-square pr-3"></i>
              <i class="iconSocial fa fa-skype px-3"></i>
              <i class="iconSocial fa fa-google-plus px-3"></i>
              <i class="iconSocial fa fa-instagram px-3"></i></p>
          </div>
        </div>
        <div class="col-sm-3 col-12 text-sm-center mt-sm-3">
          <p class="name-sub-title">Mục Lục</p>
          <p class="mucluc">Home</p>
          <p class="mucluc">Phim</p>
          <p class="mucluc">Tin Tức</p>
          <p class="mucluc">Liên Hệ</p>
        </div>
        <div class="col-sm-3 col-12 text-sm-center mt-sm-3">
          <p class="name-sub-title">Điều Khoản</p>
          <p class="mucluc">Điều Khoản Chung</p>
          <p class="mucluc">Điều Khoản Giao Dịch</p>
          <p class="mucluc">Chính Sách Thanh Toán</p>
          <p class="mucluc">Câu Hỏi Thường Gặp</p>
        </div>
        <div class="col-sm-3 col-12 d-flex justify-content-sm-end mt-sm-3">
          <div class="logo">
          </div>
          <div class="luot-dat-ve pl-3 pt-3">
            <p class="so-luot m-0">
              1.523.281.584
            </p>
            <p class="text-white sub-soluot">
              lượt vé đã đặt
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
