<div class="content">
  <div class="tintuc">
    <div class="container p-0">
      <div class="row pt-4">
        <div class="tieude col-12">
          <p class="text-center">{{tinTuc[0].TieuDe}}</p>
        </div>
        <div class="col-12 col-sm-6 pt-3 text-center img">
          <img [src]="tinTuc[0].HinhAnhNoiDung" alt="">
        </div>
        <div class="col-12 col-sm-6 pt-3">
          <div class="noidung">
            <p>{{tinTuc[0].NoiDung}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="div-share">
    <div class="container">
      <div class="row">
        <div class="col-12 pt-3">
          <div class="share pt-3">
            <p class="text-center">Chia sẻ để cùng vui nào !!!</p>
            <p class="text-center m-0">
              <i class="iconSocial fa fa-facebook px-sm-4 px-2"></i>
              <i class="iconSocial fa fa-skype px-sm-4 px-2"></i>
              <i class="iconSocial fa fa-google-plus px-sm-4 px-2"></i>
              <i class="iconSocial fa fa-instagram px-sm-4 px-2"></i>
              <i class="iconSocial fa fa-steam px-sm-4 px-2"></i>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <app-contact></app-contact>
  </div>
</div>
