.content {
  background-color: #0c0c0c;
  padding-left: 110px;
  width: 100%;
  z-index: 99;
}

.noidung p {
  color: #FFCE00;
  font-size: 20px;
}

.img img {
  border-radius: 10px;
  box-shadow: 0px 0px 30px 3px black;
}

.tintuc {
  height: 100vh;
}

.tieude p {
  color: white;
  font-size: 40px;
  text-shadow: 0 0 5px gold,
    0 0 10px gold,
    0 0 20px gold,
    0 0 40px gold;
}

.share {
  border-radius: 15px;
  margin-bottom: 50px;
  border: 2px solid #FFCE00;
  background-color: black;
  padding: 40px;
  box-shadow: 0px 0px 30px 3px black;
  color: #FFCE00;
}

.share h4 {
  font-size: 20px;
}

.share p {
  font-size: 30px;
}

.share i {
  color: white;
  transition: all 0.5s;
  cursor: pointer;
}

.share i:hover {
  color: #FFCE00;
}

/* -----------RESPONSIVE---------------- */
@media screen and (max-width: 576px) {
  .content {
    padding-left: 0;
  }

  .tintuc {
    height: auto;
  }

  .tieude p {
    font-size: 20px;
  }

  .noidung p {
    padding: 10px;
    font-size: 10px;
  }

  .share {
    margin-bottom: 20px;
    padding: 20px;
  }

  .share h4 {
    font-size: 10px;
  }

  .share p {
    font-size: 20px;
  }
}
