<div class="app-title">
  <div>
    <h1>
      <i class="fa fa-th-list"></i> Quản Lý Người Dùng</h1>
  </div>
  <ul class="app-breadcrumb breadcrumb">
    <li class="breadcrumb-item">
      <i class="fa fa-home fa-lg">Trang Chủ</i>
    </li>
    <li class="breadcrumb-item active">
      <a href="#">Quản Lý Người Dùng</a>
    </li>
  </ul>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="tile">
        <div class="row">
            <div class="col-md-6">
                <button id="btnThemNguoiDung" class="btn btn-success mb-2" data-toggle="modal" data-target="#exampleModal">Thêm Người Dùng
                  <i class="icon-user"></i>
                </button>
                </div>
                <div class="col-md-6">
                    <input class="form-control" type="text" name="search" [(ngModel)]="filter" placeholder="tìm kiếm...">  
                </div>
        </div>
      <div class="table-responsive ">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>STT</th>
              <th (click)="sort('TaiKhoan')">Tài Khoản <span class="fa fa-sort-amount-asc" *ngIf="key =='TaiKhoan'" [ngClass]="{'fa fa-sort-amount-asc':reverse,'fa fa-sort-amount-desc':!reverse}"></span></th>
              <th>Mật Khẩu</th>
              <th>Họ Tên</th>
              <th>Email</th>
              <th>Số Điện Thoại</th>
              <th>Loại Người Dùng</th>
              <th>Thao Tác</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let nguoiDung of mangNguoiDung | orderBy: key : reverse | filter:filter | paginate:{itemsPerPage:4,currentPage:p}; let i = index">
              <td>{{i}}</td>
              <td>{{nguoiDung.TaiKhoan}}</td>
              <td>{{nguoiDung.MatKhau}}</td>
              <td>{{nguoiDung.HoTen}}</td>
              <td>{{nguoiDung.Email}}</td>
              <td>{{nguoiDung.SoDT}}</td>
              <td>{{nguoiDung.MaLoaiNguoiDung}}</td>
              <td>
                <button class="btn btn-outline-primary"
                  #btnSua
                  [attr.data-taiKhoan]="nguoiDung.TaiKhoan"
                  [attr.data-matKhau]="nguoiDung.MatKhau"
                  [attr.data-hoTen]="nguoiDung.HoTen"
                  [attr.data-email]="nguoiDung.Email"
                  [attr.data-soDT]="nguoiDung.SoDT"
                  [attr.data-maLoaiNguoiDung]="nguoiDung.MaLoaiNguoiDung"
                  (click)="Sua(btnSua)"
                  data-toggle="modal" data-target="#ModalCapNhat"
                ><i class="fa fa-edit"></i></button>
                <button class="btn btn-outline-danger" 
                #btnXoa
                [attr.data-taiKhoan]="nguoiDung.TaiKhoan"
                  [attr.data-matKhau]="nguoiDung.MatKhau"
                  [attr.data-hoTen]="nguoiDung.HoTen"
                  [attr.data-email]="nguoiDung.Email"
                  [attr.data-soDT]="nguoiDung.SoDT"
                  [attr.data-maLoaiNguoiDung]="nguoiDung.MaLoaiNguoiDung"
                (click)="XoaNguoiDung(nguoiDung.TaiKhoan)"
                ><i class="fa fa-trash-o"></i></button>

              </td>
            </tr>
          </tbody>
        </table>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Thêm Người Dùng</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span id="btnDongForm" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #formDangKy="ngForm" (ngSubmit)="DangKy(formDangKy.value)">
          <div class="form-group">
            <label for="TaiKhoan">Tài Khoản:</label>
            <input class="form-control" required type="text" #taiKhoan='ngModel' placeholder="Tài Khoản" name="TaiKhoan" ngModel>
            <div *ngIf="taiKhoan.errors && (taiKhoan.touched || taiKhoan.dirty)">
          <div class="alert alert-danger" *ngIf="taiKhoan.errors.required">Vui lòng nhập tài khoản ! </div>
        </div>
        </div>
          <div class="form-group">
            <label for="MatKhau">Mật Khẩu:</label>
            <input type="password" minlength="3" maxlength="15" required #matkhau="ngModel" class="form-control txtF" name="MatKhau" ngModel>
            <div *ngIf="matkhau.errors && (matkhau.touched || matkhau.dirty)">
              <div class="alert alert-danger" *ngIf="matkhau.errors.required">Vui lòng nhập mật khẩu ! </div>
              <div *ngIf="(matkhau.errors.minlength || matkhau.errors.maxlength) ">
                <div class="alert alert-danger">mật khẩu từ 3 đến 15 ký tự ! </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="HoTen">Họ Tên:</label>
            <input type="text" required #hoTen='ngModel' [pattern]='"^[a-zA-Z_ÀÁÂÃÈÉÊÌÍÒÓÔÕÙÚĂĐĨŨƠàáâãèéêìíòóôõùúăđĩũơƯĂẠẢẤẦẨẪẬẮẰẲẴẶ" +
                "ẸẺẼỀỀỂưăạảấầẩẫậắằẳẵặẹẻẽềềếểỄỆỈỊỌỎỐỒỔỖỘỚỜỞỠỢỤỦỨỪễệỉịọỏốồổỗộớờởỡợ" +"ụủứừỬỮỰỲỴÝỶỸửữựỳỵỷỹ\\s]+$"' class="form-control txtF"
              name="HoTen" ngModel>
            <div *ngIf="hoTen.errors && (hoTen.touched || hoTen.dirty)">
              <div class="alert alert-danger" *ngIf="hoTen.errors.required">Vui lòng nhập họ tên ! </div>
              <div *ngIf="hoTen.errors.pattern">
                <div class="alert alert-danger">Vui lòng nhập vào chữ ! </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="Email">Email:</label>
            <input type="email" required #email="ngModel" [pattern]='"^[_A-Za-z0-9-\\+]+(\\.[_A-Za-z0-9-]+)*@"
            + "[A-Za-z0-9-]+(\\.[A-Za-z0-9]+)*(\\.[A-Za-z]{2,})$"' class="form-control txtF" name="Email" ngModel>
            <div *ngIf="email.errors && (email.touched || email.dirty)">
                <div class="alert alert-danger" *ngIf="email.errors.required">Vui lòng nhập Email ! </div>
                <div *ngIf="email.errors.pattern">
                  <div class="alert alert-danger">Vui lòng nhập đúng định dạng Email! </div>
                </div>
              </div>
          </div>
          <div class="form-group">
            <label for="SoDT">Số Điện Thoại:</label>
            <input type="text" required [pattern]='"^(01[2689]|09)[0-9]{8}$"' #soDT='ngModel' class="form-control txtF" name="SoDT" ngModel>
            <div *ngIf="soDT.errors && (soDT.touched || soDT.dirty)">
                <div class="alert alert-danger" *ngIf="soDT.errors.required">Vui lòng nhập số điện thoại ! </div>
                <div *ngIf="soDT.errors.pattern ">
                  <div class="alert alert-danger">Số điện thoại không hợp lệ ! </div>
                </div>
                <!-- <div *ngIf="sodt.errors.pattern">
                  <div class="alert alert-danger">Vui lòng nhập số! </div>
                </div> -->
            </div>
          </div>
          <div class="form-group">
            <label for="MaLoaiNguoiDung">Mã Loại Người Dùng:</label>
            <select class="form-control txtF" name="MaLoaiNguoiDung" ngModel >
              <option  value="KhachHang">Khách Hàng</option>
              <option  value="QuanTri">Quản Trị</option>
            </select>
          </div>
          <button class="btn btn-primary" [disabled]="formDangKy.invalid" type="submit">Thêm Người Dùng</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal Cập Nhật -->
<div class="modal fade" id="ModalCapNhat" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLabel">Chỉnh Sửa Người Dùng</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span id="btnDongformCN" aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #formCapNhat="ngForm" (ngSubmit)="CapNhat(formCapNhat.value)">
            <div class="form-group">
              <label for="TaiKhoan">Tài Khoản:</label>
              <input type="text" required #taikhoan="ngModel" class="form-control txtF" name="TaiKhoan" ngModel readonly>
            </div>
            <div class="form-group">
              <label for="MatKhau">Mật Khẩu:</label>
              <input type="password" minlength="3" maxlength="15" required #MatKhau="ngModel" class="form-control txtF" name="MatKhau" ngModel>
              <div *ngIf="MatKhau.errors && (MatKhau.touched || MatKhau.dirty)">
                <div class="alert alert-danger" *ngIf="MatKhau.errors.required">Vui lòng nhập mật khẩu ! </div>
                <div *ngIf="(MatKhau.errors.minlength || MatKhau.errors.maxlength) ">
                  <div class="alert alert-danger">mật khẩu từ 3 đến 15 ký tự ! </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="HoTen">Họ Tên:</label>
              <input type="text" required #HoTen='ngModel' [pattern]='"^[a-zA-Z_ÀÁÂÃÈÉÊÌÍÒÓÔÕÙÚĂĐĨŨƠàáâãèéêìíòóôõùúăđĩũơƯĂẠẢẤẦẨẪẬẮẰẲẴẶ" +
                  "ẸẺẼỀỀỂưăạảấầẩẫậắằẳẵặẹẻẽềềếểỄỆỈỊỌỎỐỒỔỖỘỚỜỞỠỢỤỦỨỪễệỉịọỏốồổỗộớờởỡợ" +"ụủứừỬỮỰỲỴÝỶỸửữựỳỵỷỹ\\s]+$"' class="form-control txtF"
                name="HoTen" ngModel>
              <div *ngIf="HoTen.errors && (HoTen.touched || HoTen.dirty)">
                <div class="alert alert-danger" *ngIf="HoTen.errors.required">Vui lòng nhập họ tên ! </div>
                <div *ngIf="HoTen.errors.pattern">
                  <div class="alert alert-danger">Vui lòng nhập vào chữ ! </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="Email">Email:</label>
              <input type="email" required #Email="ngModel" [pattern]='"^[_A-Za-z0-9-\\+]+(\\.[_A-Za-z0-9-]+)*@"
              + "[A-Za-z0-9-]+(\\.[A-Za-z0-9]+)*(\\.[A-Za-z]{2,})$"' class="form-control txtF" name="Email" ngModel>
              <div *ngIf="Email.errors && (Email.touched || Email.dirty)">
                  <div class="alert alert-danger" *ngIf="Email.errors.required">Vui lòng nhập Email ! </div>
                  <div *ngIf="Email.errors.pattern">
                    <div class="alert alert-danger">Vui lòng nhập đúng định dạng Email! </div>
                  </div>
                </div>
            </div>
            <div class="form-group">
              <label for="SoDT">Số Điện Thoại:</label>
              <input type="text" required [pattern]='"^(01[2689]|09)[0-9]{8}$"' #SoDT='ngModel' class="form-control txtF" name="SoDT" ngModel>
              <div *ngIf="SoDT.errors && (SoDT.touched || SoDT.dirty)">
                  <div class="alert alert-danger" *ngIf="SoDT.errors.required">Vui lòng nhập số điện thoại ! </div>
                  <div *ngIf="SoDT.errors.pattern ">
                    <div class="alert alert-danger">Số điện thoại không hợp lệ ! </div>
                  </div>
                  <!-- <div *ngIf="sodt.errors.pattern">
                    <div class="alert alert-danger">Vui lòng nhập số! </div>
                  </div> -->
              </div>
            </div>
            <div class="form-group">
              <label for="MaLoaiNguoiDung">Mã Loại Người Dùng:</label>
              <select class="form-control txtF" name="MaLoaiNguoiDung" ngModel >
                <option  value="KhachHang">Khách Hàng</option>
                <option  value="QuanTri">Quản Trị</option>
              </select>
            </div>
            <button class="btn btn-primary" [disabled]="formCapNhat.invalid" type="submit" id="btnDong">Cập Nhật Người Dùng</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>