.wrapper {
  position: relative;
  width: 100%;
}

.side-bar {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
}

.carousel {
  background-color: #0c0c0c;
}

/* Modal Trailer */
#modalTrailer .modal-dialog {
  max-width: 70%;
}

#modalTrailer .modal-dialog .modal-content {
  background-color: black;
}

#modalTrailer .modal-body {
  padding: 0;
}

#modalTrailer .btn-close-trailer {
  text-align: center;
  font-size: 30px;
}

#modalTrailer .btn-close-trailer i {
  cursor: pointer;
  color: gray;
  transition: all 0.5s;
}

#modalTrailer .btn-close-trailer i:hover {
  color: white;
  text-shadow: 0 0 5px gold, 0 0 10px gold, 0 0 20px gold, 0 0 40px gold;
}

/* MODAL LOGIN */
.popupLoginDialog {
  max-width: 670px;
  overflow: hidden;
}

/* -----------RESPONSIVE---------------- */
@media screen and (max-width: 576px) {
  .noidung {
    margin-top: 110px;
  }

  .side-bar {
    width: 100%;
  }

  #modalTrailer .modal-dialog {
    max-width: 100%;
  }
}
