/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html {
  font-family: 'Roboto',
    sans-serif;
}

body {
  padding: 0;
  margin: 0;
  background-color: black;
  /* overflow: hidden; */
}

.modal-backdrop {
  /* z-index: 1020 !important; */
}

.modal-backdrop.show {
  opacity: 0.9 !important;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 2px;
  background-color: #0c0c0c;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #FFCE00;
}

/* router-outlet~* {
  position: absolute;
  height: 100%;
  width: 100%;
} */
